@font-face {
                font-family: "PingFang SC-Heavy"; font-style: normal; src: url('@/assets/fonts/undefinedundefined'); font-weight: 400
            }
@font-face {
                font-family: "PingFang SC-Regular"; font-style: normal; src: url('@/assets/fonts/undefinedundefined'); font-weight: 400
            }
@font-face {
                font-family: "PingFang SC-Bold"; font-style: normal; src: url('@/assets/fonts/undefinedundefined'); font-weight: 400
            }
@font-face {
                font-family: "Douyin Sans-Bold"; font-style: normal; src: url('@/assets/fonts/undefinedundefined'); font-weight: 700
            }